openapi: 3.2.0
info:
  title: Kissmetrics Exports API
  version: '3'
  description: 'Operations tagged Exports across 2 of this provider''s published API definitions: kissmetrics-export-status.json, kissmetrics-export-to-csv.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://query.kissmetrics.io/v3
security:
- sec0: []
tags:
- name: Exports
paths:
  /exports/{export_id}:
    get:
      summary: Export Status
      description: This endpoint provides information on the status of active exports and also provides the link to the CSV for completed CSV exports. This endpoint requires the export ID obtained from exporting a query.
      operationId: export-status
      parameters:
      - name: export_id
        in: path
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Exports
    servers:
    - url: https://query.kissmetrics.io/v3
  /exports:
    post:
      summary: Export to CSV
      description: 'The results of both ad-hoc queries and saved report queries can be exported to CSV. The Kissmetrics Query API requires the type of export (CSV), the ID of the query to export (obtained from running an ad-hoc report or running a saved report), and a name parameter to assign to the CSV file.


        The response for this endpoint provides an export ID, which can be used to check the status of the export (unstarted/started/completed/error/cancelled) or to obtain the link to the CSV.'
      operationId: export-to-csv
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - export_type
              - query_id
              properties:
                export_type:
                  type: string
                  description: '`csv`'
                  default: csv
                query_id:
                  type: string
                options:
                  properties:
                    name:
                      type: string
                    email:
                      type: string
                  required:
                  - name
                  type: object
      responses:
        '200':
          description: '200'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
      tags:
      - Exports
    servers:
    - url: https://query.kissmetrics.io/v3
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
x-refined-from:
- kissmetrics-export-status.json
- kissmetrics-export-to-csv.json
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
