openapi: 3.2.0
info:
  title: Kissmetrics Queries API
  version: '3'
  description: 'Operations tagged Queries across 5 of this provider''s published API definitions: kissmetrics-ab-test-queries.json, kissmetrics-cancel-a-query.json, kissmetrics-saved-metric-query.json, kissmetrics-v3queriesid.json, kissmetrics-v3queriesreport.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://query.kissmetrics.io/v3
security:
- sec0: []
tags:
- name: Queries
paths:
  /queries:
    post:
      summary: A/B Test Queries
      description: ''
      operationId: ab-test-queries
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - product_id
              - query_type
              properties:
                product_id:
                  type: string
                  description: The unique identifier of the product to query.
                query_type:
                  type: string
                  description: The type of query to run, in this case it's `ab_test`.
                sort:
                  type: string
                  description: The field to sort the results by.
                order:
                  type: string
                  description: The sort order if sort parameter is provided. One of `asc` or `desc`.
                query_params:
                  properties:
                    variation_property_index:
                      type: integer
                      description: The index of the property that contains the variation of the experiment.
                      format: int32
                    conversion_event_index:
                      type: integer
                      description: The index of the conversion event that should be compared between variations.
                      format: int32
                    start_date:
                      type: string
                      description: The start date of the experiment.
                      format: date-time
                    end_date:
                      type: string
                      description: The end date of the experiment.
                      format: date-time
                    bucket_size:
                      type: integer
                      description: The time range for each bucket - measured in seconds. (E.G.; `604800`)
                      format: int32
                  required:
                  - variation_property_index
                  - conversion_event_index
                  - start_date
                  - bucket_size
                  type: object
                  description: The A/B Test query parameters.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
      tags:
      - Queries
    servers:
    - url: https://query.kissmetrics.io/v3
  /queries/{id}:
    delete:
      summary: Cancel a Query
      description: Cancel a query that has been previously started.
      operationId: cancel-a-query
      parameters:
      - name: id
        in: path
        description: Query ID
        schema:
          type: string
        required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"279139f5-f0e7-4f1c-bae5-ff509489981d\",\n  \"cancelled\": true\n}"
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 279139f5-f0e7-4f1c-bae5-ff509489981d
                  cancelled:
                    type: boolean
                    example: true
                    default: true
      deprecated: false
      tags:
      - Queries
    get:
      summary: Query Results
      description: Get the status and results of a query that has been started.
      operationId: v3queriesid
      parameters:
      - name: id
        in: path
        description: Query ID
        schema:
          type: string
        required: true
      - name: sort
        in: query
        schema:
          type: string
      - name: order
        in: query
        schema:
          type: string
      - name: offset
        in: query
        schema:
          type: integer
          format: int32
          default: 0
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 50
      deprecated: false
      tags:
      - Queries
    servers:
    - url: https://query.kissmetrics.io/v3
  /queries/metric:
    post:
      summary: Saved Metric Query
      description: Run the query associated with a saved metric.
      operationId: saved-metric-query
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - metric_id
              properties:
                metric_id:
                  type: integer
                  description: The unique identifier of the metric to run
                  format: int32
                date_range:
                  type: string
                  description: 'The timeframe for which to run the query. *The `date_range` parameter is required for all query types except `people_search`. See [Date Range Object](#date-range-object) for examples.  IMPORTANT - COPY THE BELOW OBJECT INTO THE FIELD AND ADD the `date_range` parameter. { "type": "preset", "preset": "this_month_to_date" }'
                  format: json
                query_type:
                  type: string
                  description: The type of query to run. *Default query type is pulled from the given report. See [Query Types)](#v3queriesreport) for a list.
                sort:
                  type: string
                  description: The field to sort the results by.
                order:
                  type: string
                  description: The sort order if `sort` parameter is provided. One of `asc` or `desc`.
                  default: asc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"279139f5-f0e7-4f1c-bae5-ff509489981d\"\n}"
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 279139f5-f0e7-4f1c-bae5-ff509489981d
      deprecated: false
      tags:
      - Queries
    servers:
    - url: https://query.kissmetrics.io/v3
  /queries/report:
    post:
      summary: Saved Report Query
      description: Run the query associated with a saved report.
      operationId: v3queriesreport
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - report_id
              properties:
                report_id:
                  type: integer
                  description: The unique identifier of the report to run
                  format: int32
                date_range:
                  type: string
                  description: 'The timeframe for which to run the query. *The `date_range` parameter is required for all query types except `people_search`. See [Date Range Object](#modern-periods) for examples. IMPORTANT - COPY THE BELOW OBJECT INTO THE FIELD AND ADD the date_range parameter. { "type": "preset", "preset": "this_month_to_date" }'
                  format: json
                query_type:
                  type: string
                  description: The type of query to run. *Default query type is pulled from the given report. See [Query Types)](#query-types) for a list.
                sort:
                  type: string
                  description: The field to sort the results by.
                order:
                  type: string
                  description: The sort order if `sort` parameter is provided. One of `asc` or `desc`.
                  default: asc
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: "{\n  \"id\": \"279139f5-f0e7-4f1c-bae5-ff509489981d\"\n}"
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: 279139f5-f0e7-4f1c-bae5-ff509489981d
      deprecated: false
      tags:
      - Queries
    servers:
    - url: https://query.kissmetrics.io/v3
components:
  securitySchemes:
    sec0:
      type: http
      scheme: basic
x-refined-from:
- kissmetrics-ab-test-queries.json
- kissmetrics-cancel-a-query.json
- kissmetrics-saved-metric-query.json
- kissmetrics-v3queriesid.json
- kissmetrics-v3queriesreport.json
x-readme:
  headers: []
  explorer-enabled: true
  proxy-enabled: true
x-readme-fauxas: true
