{
  "openapi": "3.1.0",
  "info": {
    "title": "ad-hoc-query",
    "version": "3"
  },
  "servers": [
    {
      "url": "https://query.kissmetrics.io/v3"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/queries": {
      "post": {
        "summary": "Ad-hoc Query",
        "description": "Run a custom query that is not associated with a report or metric.",
        "operationId": "ad-hoc-query",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "product_id",
                  "query_params"
                ],
                "properties": {
                  "product_id": {
                    "type": "integer",
                    "description": "The unique identifier of the product to query.",
                    "format": "int32"
                  },
                  "query_type": {
                    "type": "string",
                    "description": "The type of query to run. *Default query type is pulled from the given report. See [Query Types](#query-types) for a list."
                  },
                  "query_params": {
                    "type": "string",
                    "description": "The object that outlines all of the ad-hoc query's conditions. See [Query Params](##people-search-group-query) for details and examples.",
                    "format": "json"
                  },
                  "sort": {
                    "type": "string",
                    "description": "The field to sort the results by."
                  },
                  "order": {
                    "type": "string",
                    "description": "The sort order if `sort` parameter is provided. One of `asc` or `desc`.",
                    "default": "asc"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{\n  \"id\": \"279139f5-f0e7-4f1c-bae5-ff509489981d\"\n}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "279139f5-f0e7-4f1c-bae5-ff509489981d"
                    }
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
