{
  "openapi": "3.1.0",
  "info": {
    "title": "people-count",
    "version": "3"
  },
  "servers": [
    {
      "url": "https://query.kissmetrics.io/v3"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/queries": {
      "post": {
        "summary": "People Count Query",
        "description": "Returns the total number of people that fall into a people search.",
        "operationId": "people-count-query",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "product_id",
                  "query_type"
                ],
                "properties": {
                  "product_id": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "query_type": {
                    "type": "string"
                  },
                  "sort": {
                    "type": "string"
                  },
                  "order": {
                    "type": "string"
                  },
                  "query_params": {
                    "properties": {
                      "conditions": {
                        "type": "string",
                        "description": "Array of [Event With Property Filters](#event-with-property-filters).",
                        "format": "json"
                      },
                      "segments": {
                        "type": "string",
                        "description": "Array of Segments.",
                        "format": "json"
                      }
                    },
                    "required": [],
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
