{
  "openapi": "3.1.0",
  "info": {
    "title": "group-search",
    "version": "3"
  },
  "servers": [
    {
      "url": "https://query.kissmetrics.io/v3"
    }
  ],
  "components": {
    "securitySchemes": {
      "sec0": {
        "type": "http",
        "scheme": "basic"
      }
    }
  },
  "security": [
    {
      "sec0": []
    }
  ],
  "paths": {
    "/queries": {
      "post": {
        "summary": "People Search (Group) Query",
        "description": "",
        "operationId": "people-search-group-query",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "product_id",
                  "query_type"
                ],
                "properties": {
                  "product_id": {
                    "type": "integer",
                    "description": "The unique identifier of the product to query.",
                    "format": "int32"
                  },
                  "query_type": {
                    "type": "string",
                    "description": "The type of query to run, in this case it's people_search."
                  },
                  "sort": {
                    "type": "string",
                    "description": "The field to sort the results by"
                  },
                  "order": {
                    "type": "string",
                    "description": "string The sort order if sort parameter is provided. One of `asc` or `desc`."
                  },
                  "query_params": {
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "The type of people search to run, in this case `group`."
                      },
                      "filter": {
                        "type": "string",
                        "description": "The [Filter](#event-filters) to apply to the query.",
                        "format": "json"
                      },
                      "calculations": {
                        "type": "string",
                        "description": "Array of [Calculation Objects](#result-columnscalculations).",
                        "format": "json"
                      }
                    },
                    "required": [
                      "type",
                      "filter"
                    ],
                    "type": "object"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "200",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "400",
            "content": {
              "application/json": {
                "examples": {
                  "Result": {
                    "value": "{}"
                  }
                },
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          }
        },
        "deprecated": false
      }
    }
  },
  "x-readme": {
    "headers": [],
    "explorer-enabled": true,
    "proxy-enabled": true
  },
  "x-readme-fauxas": true
}
